---
---
<div class="flex flex-col gap-2 w-fit h-fit">
    <div class="lg:text-3xl text-xl  text-[#747D8C] font-bold">Factor</div>
    <select id="factor" class="lg:w-[312px] w-[220px] lg:h-[60px] h-[48px] border-2 border-solid border-[#A4B0BE] rounded-xl bg-[#F1F2F6] focus:border-[#57606F] focus:outline-none text-center font-bold text-[#57606F] lg:text-3xl text-xl">
        <option value="F/P">F/P</option>
        <option value="F/A">F/A</option>
        <option value="P/F">P/F</option>
        <option value="P/A">P/A</option>
        <option value="P/G">P/G</option>
        <option value="A/F">A/F</option>
        <option value="A/P">A/P</option>
        <option value="A/G">A/G</option>
    </select>
</div>