---
import Form from '../components/form-card.astro'
import Output from '../components/output-card.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Compound Interest Factor</title>
	</head>
	<body class="w-full h-screen flex lg:flex-row flex-col-reverse items-center justify-center lg:gap-4 xs:gap-16 gap-6 bg-[#F1F2F6]">
		<Form/>
		<Output/>
	</body>
</html>
