---
const {style} = Astro.props
---
<div class={"gap-5 justify-center lg:w-full w-screen "+style}>
    <a class="text-base text-[#A4B0BE] font-bold" href="https://github.com/han-tara">@han-tara</a>
    <a class="text-base text-[#A4B0BE] font-bold" href="https://github.com/han-tara/compound-interest-calculator">github</a>
</div>