---
---
<div class="flex gap-5 justify-center lg:w-full w-screen lg:static absolute left-0 bottom-0 lg:my-0 my-4">
    <a class="text-base text-[#A4B0BE] font-bold" href="https://github.com/han-tara">@han-tara</a>
    <a class="text-base text-[#A4B0BE] font-bold" href="https://github.com/han-tara/compound-interest-calculator">github</a>
</div>